:root{
    --button-width: 100px;
    --button-height: 40px;
    --button-color: var(--secondary-dark);
    --button-hover-color: #e0b2b2;
}

.button{
    width: var(--button-width);
    height: var(--button-height);

    border-radius: 10px;
    background: none;
    cursor: pointer;
    text-align: center;
    color: white;
    font-family: var(--default-font);
    font-size: calc((var(--button-width) / 100) * 18);
    text-shadow: 1px 1px 15px black;
    text-decoration: none;
    background: var(--button-color);
    transition: 0.3s;
}

.button:hover{
    background: var(--button-hover-color);
}

@keyframes buttonAnimation{
    from{
        background-position: 0%;
    }

    to{
        background-position: 400%;
    }
}